In [14]:
import pandas as pd

number1_path = "/workspace/company/math_scoring_with_gpt/data/number_1.xlsx"

number1_df = pd.read_excel(number1_path, sheet_name="Sheet1")

number1_df.head()

,user_id,답안,1. 사다리꼴이 사각형임을 알고 있는가?,2. 평행의 개념을 알고 있는가?,Unnamed: 4,Unnamed: 5
0,1,수직선에서 밑으로 넓게 퍼지는 형식,NaN,NaN,NaN,NaN
1,2,윗면과 아랫면이 평행한 것,NaN,NaN,NaN,NaN
2,3,변이 네개고 각이 네개인 도형(사각형) 중에서 평행한 변이 한 쌍이라도 있는 도형을...,NaN,NaN,NaN,NaN
3,4,한 변이 평행한 사각형,NaN,NaN,NaN,NaN
4,5,윗변과 아랫변은 평행관계이고 수직관계이다,NaN,NaN,NaN,NaN

In [15]:
number1_df.shape

(380, 6)

In [16]:
number1_df = number1_df[['user_id', '답안', '1. 사다리꼴이 사각형임을 알고 있는가?', '2. 평행의 개념을 알고 있는가?']]
number1_df.head()

,user_id,답안,1. 사다리꼴이 사각형임을 알고 있는가?,2. 평행의 개념을 알고 있는가?
0,1,수직선에서 밑으로 넓게 퍼지는 형식,NaN,NaN
1,2,윗면과 아랫면이 평행한 것,NaN,NaN
2,3,변이 네개고 각이 네개인 도형(사각형) 중에서 평행한 변이 한 쌍이라도 있는 도형을...,NaN,NaN
3,4,한 변이 평행한 사각형,NaN,NaN
4,5,윗변과 아랫변은 평행관계이고 수직관계이다,NaN,NaN

In [17]:
number1_df.shape

(380, 4)

In [19]:
# erase '\t' in number1_df's '답안' column 
number1_df['답안'] = number1_df['답안'].str.replace('\t', ' ')

In [20]:
# save number1_df as tsv file

number1_df.to_csv("/workspace/company/math_scoring_with_gpt/data/number_1.tsv", sep='\t', index=False)

In [21]:
# load number1_df as tsv file

number1_df_test = pd.read_csv("/workspace/company/math_scoring_with_gpt/data/number_1.tsv", sep='\t')

number1_df_test.head()

,user_id,답안,1. 사다리꼴이 사각형임을 알고 있는가?,2. 평행의 개념을 알고 있는가?
0,1,수직선에서 밑으로 넓게 퍼지는 형식,NaN,NaN
1,2,윗면과 아랫면이 평행한 것,NaN,NaN
2,3,변이 네개고 각이 네개인 도형(사각형) 중에서 평행한 변이 한 쌍이라도 있는 도형을...,NaN,NaN
3,4,한 변이 평행한 사각형,NaN,NaN
4,5,윗변과 아랫변은 평행관계이고 수직관계이다,NaN,NaN

# number 2

In [27]:
import pandas as pd

number2_path = "/workspace/company/math_scoring_with_gpt/data/number_2.xlsx"

number2_df = pd.read_excel(number2_path, sheet_name="Sheet1")

number2_df.head()

,user_id,답안,기호를 정확히 찾을 수 있는가?,각 선분에 대응하는 용어를 정확히 아는가?,각 선분에 대응하는 길이를 올바르게 구하는가?
0,1,"선분 ㄱㄹ, None, 6m\n선분 ㄴㄷ, None, 14m\n선분 ㄱㅁ, None...",NaN,NaN,NaN
1,2,"선분 ㄱㄹ, 윗변, 6cm\n선분 ㄴㄷ, 아랫변, 14cm\n선분 ㄱㅁ, 높이, 6cm",NaN,NaN,NaN
2,3,"선분 ㄱㄹ, 윗변, 6m\n선분 ㄴㄷ, 아랫변, 14m\n선분 ㄱㅁ, 높이, 6m",NaN,NaN,NaN
3,4,"선분 ㄱㄹ, 윗변, 6m\n선분 ㄴㄷ, 아랫변, 14m\n선분 ㄱㅁ, 높이, 6m",NaN,NaN,NaN
4,5,"선분 ㄱㄹ, 윗변, 6m\n선분 ㄴㄷ, 아랫변, 14m\n선분 ㄱㅁ, 높이, 6m",NaN,NaN,NaN

In [28]:
# erase '\t' in number1_df's '답안' column 
number2_df['답안'] = number2_df['답안'].str.replace('\t', ' ')

In [29]:
# save number1_df as tsv file

number2_df.to_csv("/workspace/company/math_scoring_with_gpt/data/number_2.tsv", sep='\t', index=False)

In [30]:
number2_df.head()

,user_id,답안,기호를 정확히 찾을 수 있는가?,각 선분에 대응하는 용어를 정확히 아는가?,각 선분에 대응하는 길이를 올바르게 구하는가?
0,1,"선분 ㄱㄹ, None, 6m\n선분 ㄴㄷ, None, 14m\n선분 ㄱㅁ, None...",NaN,NaN,NaN
1,2,"선분 ㄱㄹ, 윗변, 6cm\n선분 ㄴㄷ, 아랫변, 14cm\n선분 ㄱㅁ, 높이, 6cm",NaN,NaN,NaN
2,3,"선분 ㄱㄹ, 윗변, 6m\n선분 ㄴㄷ, 아랫변, 14m\n선분 ㄱㅁ, 높이, 6m",NaN,NaN,NaN
3,4,"선분 ㄱㄹ, 윗변, 6m\n선분 ㄴㄷ, 아랫변, 14m\n선분 ㄱㅁ, 높이, 6m",NaN,NaN,NaN
4,5,"선분 ㄱㄹ, 윗변, 6m\n선분 ㄴㄷ, 아랫변, 14m\n선분 ㄱㅁ, 높이, 6m",NaN,NaN,NaN

# number 3

In [32]:
import pandas as pd

number3_path = "/workspace/company/math_scoring_with_gpt/data/number_3.xlsx"

number3_df = pd.read_excel(number3_path, sheet_name="Sheet1")

number3_df.head()

,user_id,답안,텍스트화,정답과 식을 정확히 서술하여 해결하였는가?,문제해결 방법이 적절한가?
0,1,식: None\n풀이: None,NaN,NaN,NaN
1,2,식: (6+14)*6/2=60\n풀이: 선분 ㄱㅂ과 선분 ㅂㄷ의 길이를 합하면 아랫...,삼각형과 평행사변형으로 나눈 경우,NaN,NaN
2,3,식: {(아랫변) + (윗변)} * (높이) / 2\n풀이: ㄱ = 8 * 6 / ...,삼각형 3개로 나눈 경우,NaN,NaN
3,4,식: None\n풀이: None,"기타(직각삼각형, 사다리꼴, 삼각형으로 나눈 경우)",NaN,NaN
4,5,식: (6*6/2) + (14*6/2) = 60\n풀이: (삼각형 넓이 = 밑변 *...,삼각형 2개로 나눈 경우,NaN,NaN

In [33]:
# save number1_df as tsv file

number3_df.to_csv("/workspace/company/math_scoring_with_gpt/data/number_3.tsv", sep='\t', index=False)

In [34]:
number3_df.head()

,user_id,답안,텍스트화,정답과 식을 정확히 서술하여 해결하였는가?,문제해결 방법이 적절한가?
0,1,식: None\n풀이: None,NaN,NaN,NaN
1,2,식: (6+14)*6/2=60\n풀이: 선분 ㄱㅂ과 선분 ㅂㄷ의 길이를 합하면 아랫...,삼각형과 평행사변형으로 나눈 경우,NaN,NaN
2,3,식: {(아랫변) + (윗변)} * (높이) / 2\n풀이: ㄱ = 8 * 6 / ...,삼각형 3개로 나눈 경우,NaN,NaN
3,4,식: None\n풀이: None,"기타(직각삼각형, 사다리꼴, 삼각형으로 나눈 경우)",NaN,NaN
4,5,식: (6*6/2) + (14*6/2) = 60\n풀이: (삼각형 넓이 = 밑변 *...,삼각형 2개로 나눈 경우,NaN,NaN

# number 4

In [35]:
import pandas as pd

number4_path = "/workspace/company/math_scoring_with_gpt/data/number_4.xlsx"

number4_df = pd.read_excel(number4_path, sheet_name="Sheet1")

number4_df.head()

,user_id,답안,텍스트화,정답과 식을 정확히 서술하여 해결하였는가?,문제해결 방법이 적절한가?
0,1,식: None\n풀이: None,직각삼각형 두개를 덧붙여 직사각형을 만드는 경우,NaN,NaN
1,2,식: None\n풀이: None,NaN,NaN,NaN
2,3,"식: None\n풀이: ㄱ + ㄴ + ㄷ = 14 * 6 = 84, ㄱ = 5*6/...",직각삼각형 두개를 덧붙여 직사각형을 만드는 경우,NaN,NaN
3,4,식: (14*6) - (5*6/2 + 3*6/2)\n풀이: (14*6) - (5*6...,직각삼각형 두개를 덧붙여 직사각형을 만드는 경우,NaN,NaN
4,5,식: (14*6) - (5*6/2 + 3*6/2)\n풀이: 삼각형 2개를 추가하여 ...,직각삼각형 두개를 덧붙여 직사각형을 만드는 경우,NaN,NaN

In [36]:
# save number1_df as tsv file

number4_df.to_csv("/workspace/company/math_scoring_with_gpt/data/number_4.tsv", sep='\t', index=False)

In [37]:
number4_df.head()

,user_id,답안,텍스트화,정답과 식을 정확히 서술하여 해결하였는가?,문제해결 방법이 적절한가?
0,1,식: None\n풀이: None,직각삼각형 두개를 덧붙여 직사각형을 만드는 경우,NaN,NaN
1,2,식: None\n풀이: None,NaN,NaN,NaN
2,3,"식: None\n풀이: ㄱ + ㄴ + ㄷ = 14 * 6 = 84, ㄱ = 5*6/...",직각삼각형 두개를 덧붙여 직사각형을 만드는 경우,NaN,NaN
3,4,식: (14*6) - (5*6/2 + 3*6/2)\n풀이: (14*6) - (5*6...,직각삼각형 두개를 덧붙여 직사각형을 만드는 경우,NaN,NaN
4,5,식: (14*6) - (5*6/2 + 3*6/2)\n풀이: 삼각형 2개를 추가하여 ...,직각삼각형 두개를 덧붙여 직사각형을 만드는 경우,NaN,NaN

# number 5

In [38]:
import pandas as pd

number5_path = "/workspace/company/math_scoring_with_gpt/data/number_5.xlsx"

number5_df = pd.read_excel(number5_path, sheet_name="Sheet1")

number5_df.head()

   user_id                 답안 텍스트화  정답과 식을 정확히 서술하여 해결하였는가? 문제해결 방법이 적절한가?
0        1  식: None\n풀이: None  NaN                      NaN            NaN
1        2  식: None\n풀이: None  NaN                      NaN            NaN
2        3  식: None\n풀이: None  NaN                      NaN            NaN
3        4  식: None\n풀이: None  NaN                      NaN            NaN
4        5  식: None\n풀이: None  NaN                      NaN            NaN

In [39]:
# save number1_df as tsv file

number5_df.to_csv("/workspace/company/math_scoring_with_gpt/data/number_5.tsv", sep='\t', index=False)

In [40]:
number5_df.head()

   user_id                 답안 텍스트화  정답과 식을 정확히 서술하여 해결하였는가? 문제해결 방법이 적절한가?
0        1  식: None\n풀이: None  NaN                      NaN            NaN
1        2  식: None\n풀이: None  NaN                      NaN            NaN
2        3  식: None\n풀이: None  NaN                      NaN            NaN
3        4  식: None\n풀이: None  NaN                      NaN            NaN
4        5  식: None\n풀이: None  NaN                      NaN            NaN